.logo img{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px;
}

.logo{
    background:red;
    display: inline-block;
    width: 200px;
    height: 200px;
    
}

.brandname h1{
    font-size: 2.5em;
    color: white;
    margin-left: 20px;
    margin-top: 80px;
}

.brandname{
    display: inline-block;
    width: 800px;
    height: 200px;
    vertical-align: top;
}

header{
    background: red;
    margin: 20px;
}

nav{
    background: black;
    height: 56px; 
    margin: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
    height: 56px;
    line-height: 56px;
}
nav ul li a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.container{
    margin: 20px;
}

.content{
    display: inline-block;
    width: 69%;
    height: 500px;
    background: lightblue;
    margin-right: 0.5%;
}

.sidebar{
    display: inline-block;
    width: 30%;
    height: 500px;
    background: lightgreen;
    vertical-align: top;
}

tbody tr:nth-child(even){
    background: pink;
    color: purple;
}
.sidebar h2{
    font-size: 2.5em;
    margin-left: 20px;
}
.sidebar ul li{
    list-style: '-';
    font-size: 2em;
    padding-left: 20px;
}

table{
    font-size: 1.5em;
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}