.container {
    width:600px;
    margin: 20px auto;
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
}

.sticky {
    background: red;
    color: white;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    position: fixed;
    top: 50px;
    left: 0px;
}

.contain{
    display: block;
    width: 700px;
    margin: 20px auto;
    height: 200px;
    background: blue;
    color: white;
    overflow-y: scroll;
}