.userlogin{
    padding: 2px;
    font-size: 1em;
    background-color: blue;
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo{
    text-align: center;
    background-color: pink;
}

h1{
    margin-top: 0;
    text-align: center;
    background-color: pink;
    margin-bottom: 0;

}

.navbar{
    margin-top: 0;
    background-color: lightblue;
}

.navbar ul li {
    display: inline;
    margin-right: 2px;
}
.navbar ul{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 200px;
    background-color: skyblue;
}



footer{
    background-color: skyblue;
    text-align: center;
}
