/*
th{
    background-color: pink;
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    background-color: lightgreen;
    border-collapse: collapse;
    border: 1px solid black;
}

 table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
  text-align: center;

}*/

.container{
    margin: 20px;
}

table{
    border-collapse: collapse;
}

.content{
    display: inline-block;
    width: 400px;
    height: 220px;
    background: lightblue;
}