header{
    background: pink;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.content{
    background: cyan;
    width: 100%;
    margin-bottom: 20px;
}

footer{
    background: rgb(142, 246, 187);
    width: 100%;
    height: 200px; 
}

.left, .center, .right{
    background: lightblue;
    height: 350px;
    width: 33%;
    display: inline-block;
    margin-block: 10px;
}
.left{
    margin-left: 4px;
}

@media only screen and (max-width:500px){
    .left, .right, .center{
        width: 100%;
    }
}

header div:first-child{
    padding: 10px;

}

header div:nth-child(2){
    height: 100px;
    text-align: center;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header div:nth-child(3){
    text-align: center;
    font-weight: bold;
    color: black;
}
header div:last-child{
    text-align: right;
}
header div:last-child a{
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

header div:last-child a:hover{
    background: lightblue;
    transform: rotate(360deg);
    transition-duration: 1s;
    transition-behavior: ease-in-out;
}
